{% load humanize %}
{% load static %}

{% include "tours/layout/header.html" %}
<body style="background: #FAF8ED;">
<div class="head-plan" style="background-image: url('{% static 'tours/assets/plan_banner.png' %}')">
    <nav class="plan navbar navbar-expand-lg" style="height: 78px;">

        {% include "tours/layout/navbar.html" %}
    </nav>

    <div class="plan-header">
        <h1 class="img-over-text">Lagi liburan pengen pergi ke mana nih ?</h1>
        <p>Cukup masukkan kota tujuan dan budgetmu, kami akan menemukan rencana wisata yang tepat untuk mengisi hari
            liburmu !</p>
    </div>
    <div class="banner-plan d-flex align-center justify-content-center" style="">
        <form method="get" action="/plan/create">
            <div class="make-plan d-flex">
                <div class="container text-center">
                    <div class="row">
                        <div class="col">
                            <div class="form-floating">
                                <select class="plan-form form-select align-baseline" id="floatingSelect"
                                        aria-label="Floating label select example" name="city_from">
                                    <option selected hidden>{{ location.city }}</option>
                                    {% for city in city %}
                                        <option value="{{ city.city }}">{{ city.city }}, {{ city.province }}</option>
                                    {% endfor %}
                                </select>
                                <label for="floatingSelect" style="font-family: Inter">Kota Asal</label>
                            </div>
                        </div>
                        <div class="vr" style="width: 1px !important; padding: 0px !important;"></div>
                        <div class="col">
                            <div class="form-floating">
                                <select class="plan-form form-select align-baseline" id="floatingSelect"
                                        aria-label="Floating label select example" name="city_to">
                                    <option selected hidden>{{ location.city }}</option>
                                    {% for city in city %}
                                        <option value="{{ city.city }}">{{ city.city }}, {{ city.province }}</option>
                                    {% endfor %}
                                </select>
                                <label for="floatingSelect" style="font-family: Inter">Kota Tujuan</label>
                            </div>
                        </div>
                        <div class="vr" style="width: 1px !important; padding: 0px !important;"></div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="number" name="budget" class="form-control" id="inputbudget"
                                       style="border: none"
                                       placeholder="Rp1000000" min="100000" required>
                                <label for="inputbudget">Budget (Rp)</label>
                            </div>
                        </div>
                        <div class="vr" style="width: 1px !important; padding: 0px !important;"></div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="number" name="days" class="form-control" id="inputbudget"
                                       style="border: none"
                                       placeholder="Rp1000000" min="1" max="7" required>
                                <label for="inputbudget">Durasi (hari)</label>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn-plan">Cari
                </button>
            </div>
        </form>
    </div>
</div>

<div class="main-plan">
    {% if user_plan %}
        <div class="plan-list" style="margin: 12% 7%">
            <h3>Rencana Anda</h3>
            <p>Rencana wisata yang sudah anda buat tersimpan rapi di sini. Yuk, mulai berwisata !.</p>
            <div class="container text-center">
                <div class="row row-cols-auto">
                    {% for plan in user_plan %}
                        <a href="{% url 'detail_rencana' plan.id %}" class="text-decoration-none text-dark">
                        <div class="col-sm-3">
                            <div class="card">
                                <img src="{{ plan.city_dest.image.url }}" class=" card-img-top " alt="">
                                <h5>{{ plan.title }}</h5>
                                <h6><span class="material-symbols-outlined">location_on</span>
                                    &ensp;{{ plan.city_dest.city }}</h6>
                                <h5>Rp{{ plan.real_cost | intcomma }}</h5>
                            </div>
                        </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="plan-list" style="margin: 12% 7%">
        <h3>Perjalanan</h3>
        <p>Bingung mau pergi ke mana aja? Yuk lihat inspirasi perjalanan yang sesuai dengan minat dan kantongmu. </p>
        <div class="container text-center">
            <div class="row row-cols-4">
                {% for city in city %}
                    <form method="get" action="/plan/create" id="form-id-{{ city.city }}">
                        <a onclick="document.getElementById('form-id-{{ city.city }}').submit();">
                            <div class="col">
                                <div class="card">
                                    <img src="{{ city.image.url }}" class=" card-img-top "
                                         alt="">
                                    <h5>Eksplorasi {{ city.city }} 2D 1N</h5>
                                    <select class="plan-form form-select align-baseline" id="floatingSelect"
                                            aria-label="Floating label select example" name="city_to" hidden>
                                        <option selected hidden value="{{ city.city }}">{{ city.city }}</option>
                                    </select>
                                    <select class="plan-form form-select align-baseline" id="floatingSelect"
                                            aria-label="Floating label select example" name="city_from" hidden>
                                        <option selected hidden value="{{ city.city }}">{{ city.city }}</option>
                                    </select>
                                    <input type="number" name="days" class="form-control" id="inputbudget"
                                           style="border: none"
                                           placeholder="Rp1000000" min="1" max="7" value="2" required hidden>
                                    <h6><span class="material-symbols-outlined">location_on</span>
                                        &ensp;{{ city.city }}</h6>
                                    {% if city.city == 'Malang' %}
                                        <h5>Rp{{ 600000 | intcomma }}</h5>
                                        <input type="number" name="budget" class="form-control" id="inputbudget"
                                               style="border: none"
                                               placeholder="Rp1000000" min="1" max="7" value="600000" required hidden>
                                    {% elif city.city == 'Yogyakarta' %}
                                        <h5>Rp{{ 800000 | intcomma }}</h5>
                                        <input type="number" name="budget" class="form-control" id="inputbudget"
                                               style="border: none"
                                               placeholder="Rp1000000" min="1" max="7" value="800000" required hidden>
                                    {% elif city.city == 'Bali' %}
                                        <h5>Rp{{ 1500000 | intcomma }}</h5>
                                        <input type="number" name="budget" class="form-control" id="inputbudget"
                                               style="border: none"
                                               placeholder="Rp1000000" min="1" max="7" value="1500000" required hidden>
                                    {% else %}
                                        <h5>Rp{{ 1000000 | intcomma }}</h5>
                                        <input type="number" name="budget" class="form-control" id="inputbudget"
                                               style="border: none"
                                               placeholder="Rp1000000" min="1" max="7" value="1000000" required hidden>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </form>
                {% endfor %}
            </div>
        </div>


    </div>

</div>


</body>