{% load static %}
{% include "tours/layout/header.html" %}
<div class="head-plan"
     style="background-image: url('{% static 'tours/assets/waterfall.jpg' %}');    background-position: bottom; ">
    <nav class="plan navbar navbar-expand-lg sticky-top" style="height: 78px;">

        {% include "tours/layout/navbar.html" %}
        <div class="dest-cont" style="flex-wrap: wrap;">
            <div class="dest-header " style="text-align: center; flex-basis: 100%;">
                <h1 class="img-over-text">Destinasi Wisata</h1>
                <p>Jelajahi destinasi menarik di Indonesia</p>
            </div>
            <form method="get" action="{% url 'search_destination_results' %}" style="width: 100%;
    display: flex;
    justify-content: center;">
                <div class="form-floating mb-3 d-flex align-center justify-content-center"
                     style="color: black !important; margin-top: 60px; width: 60%;  ">
                    <input type="text" class="form-control border-none" name="cari_destinasi" id="floatingInput"
                           placeholder="name@example.com" minlength="4">
                    <label for="floatingInput"><span class="material-symbols-outlined">search</span> &nbsp;Cari
                        destinasi, kota, atau kategori</label>
                </div>
            </form>
        </div>
</div>

<div class="container">

    <div class="row row-cols-auto p-3">
        {% for tour in destination_list %}
            <div class="cardimg col py-3">
                <a href="{% url 'detail' tour.id %}" class="text-decoration-none text-dark">
                    <div class=" card" style="width: 18rem; height: 20rem; border-radius: 20px">
                        <img src="{{ tour.image_path.url }}" class=" card-img-top "
                             style="height: 200px; border-radius: 10px"
                             alt="">
                        <div class="card-cont card-body">
                            <h6 class="card-title text-truncate">{{ tour.name }}</h6>
                            <p class="card-text text-truncate">{{ tour.city.city }}</p>
                            <p class="card-text text-truncate">{{ tour.categories }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

</div>