{% load static %}
{% include "tours/layout/header.html" %}
<div class="head"
     style="background : linear-gradient(180deg, #E2F6FC 14.25%, rgba(255, 255, 255, 0) 100%); height: 43rem">
        <nav class="navbar navbar-expand-lg sticky-top"  style="height: 78px;">

    {% include "tours/layout/navbar.html" %}

    <div class="hstack mx-5 gap-1">
        <h7 class="pl-5" style="font-size: 14px">Lokasi &ensp;:</h7>
        <form method="get" action="{% url 'search_results' %}" class="">
            <div class="hstack gap-3">
                <select id="city" name="city" class="city-select form-select w-auto"
                        aria-label="Default select example" onchange="this.form.submit()">
                    <option class="opt" selected hidden>{{ location.city }}</option>
                    {% for city in city_list %}
                        <option value="{{ city.city }}">{{ city.city }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>
    <div class="container text-center">
        <div class="row mt-4">
            <div class="left-banner col">
                <div class="head-banner">
                    <h1 class="title-banner">Rencanakan Perjalanan Wisata Impianmu</h1>
                    <p class="text-banner">Plan and book your perfect trip with expert advice, travel tips, destination
                        information and inspiration from us.</p>
                </div>

                <div class="plan-banner mt-4">
                    <div class="row">
                        <div class="col">
                            <div class="form-floating">
                                <select class="plan-form form-select align-baseline" id="floatingSelect"
                                        aria-label="Floating label select example">
                                    <option selected hidden>{{ location.city }}</option>
                                    {% for city in city_list %}
                                        <option value="{{ city.city }}">{{ city.city }}, {{ city.province }}</option>
                                    {% endfor %}
                                </select>
                                <label for="floatingSelect" style="font-family: Inter">Tujuan</label>
                            </div>
                        </div>
                        <div class="vr" style="width: 1px !important; padding: 0px !important;"></div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="date" class="form-control" id="inputdate" style="border: none">
                                <label for="inputdate">Tanggal</label>
                            </div>
                        </div>
                        <div class="col-2 d-flex align-center">
                            <button class="button-plan">
                                <img src="{% static 'tours/assets/img_2.png' %}" class="img-fluid" height="58"
                                     width="58">

                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-banner col">
                <img src="{% static 'tours/assets/img_7.png' %}" class="img-fluid" height="505" width="485">
            </div>
        </div>
    </div>
</div>

{% block content %}
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-sm" style="flex: 0 0 0% !important;">
                <div class="menu-home d-flex">
                    <a href="/destination">
                    <div class="menu-det">
                        <img src="{% static 'tours/assets/img_8.png' %}" class="img-fluid" height="50" width=50">

                        <h6>Destinasi</h6>
                        <p>Temukan destinasi pilihan terbaik untuk kamu kunjungi</p>
                    </div>
                    </a>
                </div>
            </div>
            <div class="col-sm" style="flex: 0 0 0% !important;">
                <div class="menu-home d-flex">
                    <a href="/plan">
                    <div class="menu-det">
                        <img src="{% static 'tours/assets/img_9.png' %}" class="img-fluid" height="50" width=50">

                        <h6>Rencana Perjalanan</h6>
                        <p>Rencanakan liburanmu bersama kami dengan mudah dan cepat</p>
                    </div>
                        </a>
                </div>
            </div>
            <div class="col-sm" style="flex: 0 0 0% !important;">

                <div class="menu-home d-flex">
                    <a href="/">
                        <div class="menu-det">
                            <img src="{% static 'tours/assets/img_10.png' %}" class="img-fluid" height="50" width=50">

                            <h6>Eksplorasi</h6>
                            <p>Berbagi dan jelajahi tempat-tempat baru untuk dikunjungi</p>
                        </div>
                    </a>
                </div>


            </div>
        </div>
    </div>
    <div class="container-lg px-5 py-2 mt-5">
    <div class="recom">
        <h3 class="recom pt-2">Wisata Sekitarmu</h3>
        <p>Lihat tempat wisata yang sedang popouler di sekitarmu</p>
    </div>
    <div id="carouselExampleControls" class="carousel carousel-dark slide mt-5" data-bs-ride="carousel"
         data-bs-interval="20000">
        <div class="carousel-inner">
            {% for list in tour_list %}
                <div class="carousel-item {% if forloop.counter0 %} {% else %} active {% endif %}">
                    <div class="container">
                        <div class="row row-cols-4">
                            {% for tour in list %}
                                <div class="cardimg col">
                                    <a href="{% url 'detail' tour.id %}" class="text-decoration-none text-dark">
                                        <div class=" card" style="width: 18rem; height: 20rem; border-radius: 20px">
                                            <img src="{{ tour.image_path.url }}" class=" card-img-top "
                                                 style="height: 200px; border-radius: 10px"
                                                 alt="">
                                            <div class="card-cont card-body">
                                                <h6 class="card-title text-truncate">{{ tour.name }}</h6>
                                                <p class="card-text text-truncate">{{ tour.city.city }}</p>
                                                <p class="card-text text-truncate">{{ tour.categories }}</p>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="car-next carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>

{% endblock content %}
</div>

</body>
</html>
