{% load humanize %}
{% load static %}

{% include "tours/layout/header.html" %}
<body style="background: #FAF8ED;">
<div class="head-plan" style="background-image: url('{% static 'tours/assets/plan_banner.png' %}')">
        <nav class="plan navbar navbar-expand-lg sticky-top" style="height: 78px;">

    {% include "tours/layout/navbar.html" %}
    <div class="plan-header">
        <h1 class="img-over-text">Lagi liburan pengen pergi ke mana nih ?</h1>
        <p>Cukup masukkan kota tujuan dan budgetmu, kami akan menemukan rencana wisata yang tepat untuk mengisi hari
            liburmu !</p>
    </div>
    <div class="banner-plan d-flex align-center justify-content-center" style="">
        <div class="make-plan d-flex">
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <div class="form-floating">
                            <select class="plan-form form-select align-baseline" id="floatingSelect"
                                    aria-label="Floating label select example">
                                <option selected hidden>{{ location.city }}</option>
                                {% for city in city %}
                                    <option value="{{ city.city }}">{{ city.city }}, {{ city.province }}</option>
                                {% endfor %}
                            </select>
                            <label for="floatingSelect" style="font-family: Inter">Kota Tujuan</label>
                        </div>
                    </div>
                <div class="vr" style="width: 1px !important; padding: 0px !important;"></div>
                    <div class="col">
                        <div class="form-floating">
                            <input type="date" class="form-control" id="inputdate" style="border: none">
                            <label for="inputdate">Tanggal</label>
                        </div>
                    </div>
                <div class="vr" style="width: 1px !important; padding: 0px !important;"></div>
                    <div class="col">
                        <div class="form-floating">
                            <input type="number" class="form-control" id="inputbudget" style="border: none"
                                   placeholder="Rp1000000"  min="1">
                            <label for="inputbudget">Budget (Rp)</label>
                        </div>
                    </div>
                <div class="vr" style="width: 1px !important; padding: 0px !important;"></div>
                    <div class="col">
                        <div class="form-floating">
                            <input type="number" class="form-control" id="inputbudget" style="border: none"
                                   placeholder="Rp1000000">
                            <label for="inputbudget">Durasi (hari)</label>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn-plan">Search
            </button>
        </div>
    </div>
</div>

<div class="main-plan">
    <div class="category" style="margin: 12% 7%">
        <h3>Kategori</h3>
        <p>Di sini banyak destinasi menarik untuk dikunjungi, tapi jangan bingung — semuanya sudah dikelompokkan
            berdasarkan kategori.</p>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <img src="{% static 'tours/assets/gunung.jpg' %}">
                    <h6>Gunung</h6>
                </div>
                <div class="col">
                    <img src="{% static 'tours/assets/pantai.jpg' %}">
                    <h6>Pantai</h6>
                </div>
                <div class="col"><img src="{% static 'tours/assets/bermain.jpg' %}">
                    <h6>Taman Bermain</h6>
                </div>
                <div class="col"><img src="{% static 'tours/assets/sejarah.jpg' %}">
                    <h6>Sejarah</h6>
                </div>
                <div class="col"><img src="{% static 'tours/assets/seni.jpg' %}">
                    <h6>Seni</h6>
                </div>
                <div class="col"><img src="{% static 'tours/assets/kota.jpg' %}">
                    <h6>Kota</h6>
                </div>
                <div class="col"><img src="{% static 'tours/assets/gunung.jpg' %}">
                    <h6>Mixed</h6>
                </div>

            </div>
        </div>


    </div>

    <div class="plan-list" style="margin: 12% 7%">
        <h3>Perjalanan</h3>
        <p>Bingung mau pergi ke mana aja? Yuk lihat inspirasi perjalanan yang sesuai dengan minat dan kantongmu. </p>
        <div class="container text-center">
            <div class="row row-cols-4">
                {% for plan in plan_list %}
                    <a href="{% url 'detail_plan' plan.id %}" class="text-decoration-none text-dark">
                    <div class="col">
                        <div class="card">
                            <img src="{{ plan.cover.url }}" class=" card-img-top "
                                 alt="">
                            <h5>{{ plan.title }}</h5>
                            <h6><span class="material-symbols-outlined">location_on</span> &ensp;{{ plan.city_dest.city }}</h6>
                            <h5>Rp{{ plan.total_cost | intcomma}}</h5>
                        </div>
                    </div>
                    </a>
                {% endfor %}
                {% for plan in plan_list %}
                    <div class="col">
                        <div class="card">
                            <img src="{{ plan.cover.url }}" class=" card-img-top "
                                 alt="">
                        </div>
                    </div>
                {% endfor %}
                {% for plan in plan_list %}
                    <div class="col">
                        <div class="card">
                            <img src="{{ plan.cover.url }}" class=" card-img-top "
                                 alt="">
                        </div>
                    </div>
                {% endfor %}
                {% for plan in plan_list %}
                    <div class="col">
                        <div class="card">
                            <img src="{{ plan.cover.url }}" class=" card-img-top "
                                 alt="">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>


    </div>

</div>


</body>