{% load static %}
{% include "tours/layout/header.html" %}
<main>
    <nav class="navbar navbar-expand-lg" style="height: 65px">


        {% include "tours/layout/navbar.html" %}


    </nav>
    <div class="row">
        <div class="col-sm-3 d-flex justify-content-center sticky-top" style="height: 100%; flex-wrap: wrap">
            {% include "tours/explore/layout/sidemenu.html" %}
        </div>
        <div class="col-sm-6 pt-5">
            {% if data %}
                <div class="head-post mb-2" style="font-weight: 600; text-align: left; padding: 0 !important;">
                    <h4>
                        <button class="no-decoration" onclick="history.back()"><span class="material-symbols-outlined"
                                                                                     style="margin-right: 12px">arrow_back
</span></button>
                        Postingan saya
                    </h4>
                </div>
                {% for posts in data %}
                    <div class="card py-3 mb-5"
                         style="width: 100%; border-radius: 10px;box-shadow: -4px -4px 16px rgba(0, 0, 0, 0.06), 4px 4px 16px rgba(0, 0, 0, 0.06);">
                        <div class="post-content" style=" ">

                            <h4 class="card-title text-truncate">{{ posts.title }}</h4>
                            <p class="pb-3">{{ posts.created_at }}</p>
                            <img src="https://dealinbucket.s3.amazonaws.com/static/{{ posts.image_path }}"
                                 class="card-img-top"
                                 style="height: 350px; border-radius: 10px; object-fit: cover"
                                 alt="">
                            <div class="post-par pt-4">
                                <p class="card-title">{{ posts.caption }}</p>
                            </div>
                            <div class="d-flex">
                                <a href="{{ posts.id }}/update">
                                    <button type="button" class="btn btn-primary">Perbarui
                                    </button>
                                </a>

                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                        data-bs-target="#deleteModal" style="margin-left: 10px"><span
                                        class="material-symbols-outlined">delete</span>Hapus
                                </button>

                                <div class="modal fade" id="deleteModal" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Konfirmasi</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Anda yakin ingin menghapus postingan ini ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Batal
                                                </button>
                                                <form action="{{ posts.id }}/delete" method="post"
                                                      style="margin-left: 10px">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger">Hapus</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                {% endfor %}
            {% else %}
                <h6>Anda belum mengunggah post</h6>
            {% endif %}
        </div>
        <div class="col-sm-3 sticky-top" style="    z-index: 1 !important;padding-left: 3%; height: 100%">
            <div class="menu-explore py-5 " style="text-align: left; width: 56%; position: sticky">
                {% include 'tours/explore/layout/addpost.html' %}

            </div>
        </div>
    </div>

</main>
</body>

</html>