<footer>
    <div class="footer-grid">
        <div class="footer-grid-item">
            <div class="logo">
                <span> <img src="https://dealinbucket.s3.amazonaws.com/static/assets/travel_logo.png" width="30" height="32"
             class="d-inline-block align-text-top">TravelMates</span>
            </div>
        </div>
        <div class="footer-grid-item">
            <div class="heading">
                <h2>FITUR UTAMA</h2>
            </div>
            <ul>
                <li><a href="/plan">Perencanaan</a></li>
                <li><a href="/explore">Eksplorasi</a></li>
                <li><a href="/destination">Destinasi</a></li>
            </ul>
        </div>
        <div class="footer-grid-item">
            <div class="heading">
                <h2>LINK</h2>
            </div>
            <ul>
                <li> <a href="#">Beranda</a></li>
                <li><a href="#">Tentang kami</a></li>
                <li> <a href="#">Layanan</a></li>
                <li><a href="#">Syarat dan Ketentuan</a></li>
            </ul>
        </div>
        <div class="footer-grid-item">
            <div class="heading">
                <h2>HUBUNGI KAMI</h2>
            </div>
            <div class="about">
                <h3>Gedung F Filkom UB,</h3>
                <h3>Kota Malang, Indonesia</h3>
            </div>
            <div class="about">
                <h5>Telepon : +62831 1211 1022</h5>
                <h5>Email   : support@travelmates.ga</h5>
            </div>
        </div>
    </div>
    </div>

    <div class="footer-copyright">
        <p>&#169;2022 TravelMates by Us</p>
    </div>
</footer>

