<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tours/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js">
    </script>
    <title>Tourmates</title>
</head>
<body>