{% load static %}

<div class="container-fluid px-5">
    <a href="/" class="navbar-brand" style="font-weight: bold">
        <img src="https://dealinbucket.s3.amazonaws.com/static/assets/travel_logo.png" width="30" height="32"
             class="d-inline-block align-text-top">
        TravelMates</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-3">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Beranda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/destination">Destinasi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/plan">Rencana</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/explore">Eksplorasi</a>
            </li>
        </ul>
    </div>

    {% if user.is_authenticated is False %}
        <div class="dropdown-center btn-group">
            <button type="button" class="btn dropdown-toggle-split" data-bs-toggle="dropdown"
                    aria-expanded="false">
                <span style="font-size: 36px; margin-right: 14px"
                      class="material-symbols-outlined">account_circle</span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <button type="button" class="login-nav-btn dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Masuk
                    </button>
                </li>
                <li><a class="dropdown-item" href="/register">Daftar</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/explore"><span class="material-symbols-outlined">article</span>Eksplorasi</a></li>
                <li><a class="dropdown-item" href="/plan"><span class="material-symbols-outlined">travel_explore</span> Buat Rencana</a></li>
            </ul>
        </div>
    {% else %}
        <div class="dropdown-center btn-group">
            <button type="button" class="btn dropdown-toggle-split" data-bs-toggle="dropdown"
                    aria-expanded="false">
                <img src="{% static 'tours/assets/man.png' %}" height="40" width="40" style="margin-right: 14px">
            </button>
            <ul class="dropdown-menu">
                <li><a class="hello-navbar dropdown-item" href="/profile">Halo, {{ user.username }}</a></li>
                <li><a class="dropdown-item" style="font-weight: 500; padding-bottom: 1rem !important;" href="/addPost"><span
                        class="material-symbols-outlined">add_circle</span>
                    Unggah Post</a></li>
                <li><a class="dropdown-item" href="posts/{{ request.user.username }}/">
                    <span class="material-symbols-outlined">demography</span> Lihat Post</a></li>
                <li>
                    <a class="dropdown-item" href="/plan">
                        <span class="material-symbols-outlined">travel_explore</span> Buat Rencana</a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/logout">Keluar</a></li>
            </ul>
        </div>
    {% endif %}
    <div class="d-flex">

        <a href="/plan" class="plan-nav">
{#            <button type="button" class="btn-plan-nav">Let's Plan !</button>#}
            <span>Let's Plan</span>
            <div class="liquid"></div>
        </a>
    </div>


</div>


{% include 'tours/layout/login-floating.html' %}

